<div class="overlay-container">
    <img src="assets/image_2.png" alt="Image" class="img-fluid">

    <div class="card main overlay-card">
        <div class="card-body">
            <form >
                <div class="text-center">
                    <h4 class="heading-text font-weight-bold">Select at least 3 sports that interest you</h4>
                </div>
                <div class="d-flex">
                    <div>
                        <mat-chip-listbox aria-label="position">
                            <mat-chip-option class="d-flex"><img class="icons" src="../../assets/Target 1.svg" alt=""><label>Archery</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Badminton 1.svg" alt=""><label>Badminton</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Cricket 1.svg" alt=""><label>Cricket</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Football 1.svg" alt=""><label>Football</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Pool 1.svg" alt=""><label>Snooker</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Running 1.svg" alt=""><label>Running</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Tennis 1.svg" alt=""><label>Tennis</label></mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                    <div>
                        <mat-chip-listbox aria-label="position">
                            <mat-chip-option><img class="icons" src="../../assets/Basketball 1.svg" alt=""><label>Basketball</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Chess 1.svg" alt=""><label>Chess</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Frisbee.svg" alt=""><label>Frisbee</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Hockey 1.svg" alt=""><label>Hockey</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Rugby 1.svg" alt=""><label>Rugby</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Table Tennis 1.svg" alt=""><label>Table Tennis</label></mat-chip-option>
                            <mat-chip-option><img class="icons" src="../../assets/Volleyball 1.svg" alt=""><label>Volleyball</label></mat-chip-option>
                          </mat-chip-listbox>
                    </div>
                </div>
                <button type="submit" class="btn mt-4 btn-block">
                    <span class="btn-text">CONTINUE</span>
                </button>
            </form>
        </div>
    </div>
</div>