<div class="overlay-container">
    <img src="assets/image_2.png" alt="Image"  class="img-fluid">

    <div class="card main overlay-card">
        <div class="card-body">
            <form #userForm="ngForm" [formGroup]="myForm" (ngSubmit)="goToProfile()">
                <div class="text-center">
                    <h4 class="heading-text font-weight-bold">Enter your basic details</h4>
                </div>
                <div class="form-group mt-4">
                    <label class="label">Full Name</label>
                    <input type="text" name="fullName" ngModel required class="form-control input"
                        placeholder="Full Name" formControlName="fullName" />
                </div>
                <div class="mt-2">
                    <label class="label">User Name</label>
                    <input type="text" name="userName" ngModel class="form-control input"
                        placeholder="User Name" formControlName="userHandle"/>
                </div>
                <div class="mt-2">
                    <label class="label">Date of birth</label>
                    <input type="date" name="birthday" required ngModel class="form-control input" formControlName="dob" max="{{ today | date:'yyyy-MM-dd' }}">
                    <!-- <div *ngIf="myForm.get('dob')?.hasError('dateBeforeToday') && myForm.get('dob')?.touched">
                        Date is invalid.
                      </div> -->
                </div>
                <div class="mt-2">
                    <label class="label">Gender</label>
                    <select name="gender" required ngModel class="form-control input" formControlName="gender">
                        <option value="" selected>Gender</option>
                        <option value="4">Female</option>
                        <option value="3">Male</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label class="label">Email Address</label>(Optional)
                    <input type="text" name="email" ngModel class="form-control input" formControlName="emailAddress">
                </div>
                <button type="submit" class="btn mt-4 btn-block" [disabled]="userForm.invalid" (click)="goToProfile()">
                    <span class="btn-text">CONTINUE</span>
                </button>
            </form>
        </div>
    </div>
</div>
