<div class="overlay-container">
    <img src="assets/image_2.png" alt="Image" class="img-fluid">

    <div class="card main overlay-card">
        <div class="card-body">
            <form #userForm="ngForm" [formGroup]="myForm" (ngSubmit)="goToProfile()">
                <div class="text-center">
                    <h4 class="heading-text font-weight-bold">Enter your basic details</h4>
                </div>
                <div class="mt-4">
                    <label class="label">Full Name</label>
                    <input type="text" name="fullName" class="form-control input"
                        placeholder="Full Name" formControlName="fullName" />
                </div>
                <div class="mt-2">
                    <label class="label">User Name</label>
                    <input type="text" name="userName" class="form-control input"
                        placeholder="User Name" formControlName="userHandle" (keyup)="checkUsernameAvailability()">
                    <div *ngIf="usernameAvailability === true" class="text-success">Username is available</div>
                    <div *ngIf="usernameAvailability === false" class="text-danger">Username is not available</div>
                    <!-- <div *ngIf="usernameAvailability === null" class="text-muted">Checking username availability...</div> -->
                </div>
                <div class="mt-2">
                    <label class="label">Date of Birth</label>
                    <input type="date" name="birthday" class="form-control input" formControlName="dob" max="{{ today | date:'yyyy-MM-dd' }}">
                </div>
                <div class="mt-2">
                    <label class="label">Gender</label>
                    <select name="gender" class="form-control input" formControlName="gender">
                        <option value="" selected>Gender</option>
                        <option *ngFor="let gender of genderData" [value]="gender.commonFixedLookupId">
                          {{ gender.fixedLookUpName }}
                        </option>
                    </select>
                </div>
                <div class="mt-2">
                    <label class="label">Email Address (Optional)</label>
                    <input type="text" name="email" class="form-control input" formControlName="emailAddress">
                </div>
                <button type="submit" class="btn mt-4 btn-block" [disabled]="myForm.invalid">
                    <span class="btn-text">CONTINUE</span>
                </button>
            </form>
        </div>
    </div>
</div>
