<div class="main-div">
  <div class="info">
    <div>
      <p class="heading">Verify your mobile number</p>
      <p class="text">
        Please enter the 6 digits code sent to<br /><span
          ><b> {{dialNum}}{{ phoneNumber }}</b></span
        >
        through SMS
      </p>
      <form class="form-group">
        <input
          placeholder="Enter OTP"
          class="form-control input"
          [(ngModel)]="otpInput"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
      <p class="text">Your OTP will expire in</p>
      <div style="display: flex; justify-content: center">
        <img class="svg" src="assets/timer.svg" />
        <countdown #countdown [config]="countdownConfig" (event)="handleCountdownEvents($event)"></countdown>
      </div>
      <p class="text-3">{{verificationResult}}</p>
      <p class="text-2" *ngIf="resend" (click)="resendClicked()" >Resend OTP</p>
      <button class="btn" (click)="continueClicked()">
        <span class="btn-text">Continue</span>
      </button>
    </div>
  </div>
</div>
