<div class="overlay-container">
    <img src="assets/image_2.png" alt="Image" class="img-fluid">

    <div class="card main overlay-card">
        <div class="card-body">
            <form>
                <div class="text-center">
                    <h4 class="heading-text font-weight-bold">Upload your profile picture</h4>
                </div>
                <div class="form-group mt-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <img [src]="imageUrl" alt="Selected Image" (click)="openFileInput()" style="cursor: pointer;
                        border-radius: 50%; width: 10rem; height: 10rem;">
                    </div>
                    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn mt-4 btn-block bg-white border border-secondary">
                                <span class="btn-text">SKIP</span>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn mt-4 btn-block">
                                <span class="btn-text">SAVE</span>
                            </button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>