<div class="main-div">
  <div class="info">
    <div>
      <p class="heading">You are invited to join a Team</p>
      <p class="text">
        IIT Bombay 2019-20<br />
        Men’s Cricket Team<br />
        Login / Signup to Join Team
      </p>
      <p class="text">
        Institute Name - IIT Bombay<br />
        2019-20 Men’s Cricket Team
      </p>
      <div style="display: flex;">
        <button class="btn" routerLink="/login">
          <span class="btn-text">Login</span>
        </button>
        <button class="btn" routerLink="/signup">
          <span class="btn-text">Signup</span>
        </button>
      </div>
    </div>
  </div>
</div>
